<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">

</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js">

</script>

<div id="centered">
	<div>
		<b>Output:</b> {{clickMessage}}
  <div *ngIf="names"><b>Count of names:</b> {{ names.length }}</div>
  </div>
  <p></p>
  <input #newName 
        (keyup.enter)="addName(newName.value)"
        (keyup.enter)="printName()"
        (keyup.enter)="newName.value='' "
        (keyup.enter)="changeState()"
        id="inputf" type="text" placeholder="Enter a name" [(ngModel)]="name">
  <p></p>
    <div>
        <button type="button" class="btn btn-primary" (click)="addName(newName.value);printName();changeState();newName.value=''">Add</button>
        &nbsp;
        <button type="button" class="btn btn-primary" (click)="removeName(newName.value)">Remove</button>
        &nbsp;
        <button type="button" class="btn btn-primary" (click)="shuffleNames()">Shuffle</button>
        &nbsp;
        <button type="button" class="btn btn-primary" (click)="sortAscDesc()">Sort</button>
    </div>
  <p></p>
  <div id="centered">
    <div id="bordered">
      <span *ngFor="let name of names" [@changeDivSize]=currentState [@fadeInOut]>{{name | uppercase}}</span>
    </div>
    <h1>Hello, {{name | uppercase}} !</h1> 
  </div>
</div>