<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">

</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js">

</script>

<h1>Hello, {{name | uppercase}} !</h1>
<p>
	Some fancy editor... :)
</p>
<input #newName 
      (keyup.enter)="addName(newName.value)"
      (keyup.enter)="printName()"
      (keyup.enter)="newName.value='' "
      type="text" [(ngModel)]="name"> Output: {{clickMessage}}
    <p><div>
      <button type="button" class="btn btn-primary" (click)="addName(newName.value);printName();newName.value=''">Add</button>
      &nbsp;
      <button type="button" class="btn btn-primary" (click)="removeName(newName.value)">Remove</button>
      &nbsp;
      <button type="button" class="btn btn-primary" (click)="changeName()">Shuffle</button>
    </div>
    <p><div>
    <ul><li *ngFor="let name of names">{{name | uppercase}}</li></ul>
    </div>