h1 {
font-family: “Open Sans”, sans-serif;
color: #f5f5f5;
text-shadow: 0px -2px 4px #EC1818, 0px -2px 10px #FF3, 0px -10px 20px         #F90, 0px -20px 40px #C33;
font-size: 30px;
}

button{
        border-radius: 25px;
        border: 2;
        width: 110px;
        height:25px;
        font-family: Algerian;
        background: #f4f4f4;
        /* Old browsers */
        background: -moz-linear-gradient(top, #f4f4f4 1%, #ededed 100%);
        /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #f4f4f4), color-stop(100%, #ededed));
        /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #f4f4f4 1%, #ededed 100%);
        /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #f4f4f4 1%, #ededed 100%);
        /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #f4f4f4 1%, #ededed 100%);
        /* IE10+ */
        background: linear-gradient(to bottom, #f4f4f4 1%, #ededed 100%);
        /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#ededed', GradientType=0);
        /* IE6-9 */
}

 input[type=reset] {
        border-radius: 25px;
        border: 2;
        width: 110px;
        height:25px;
        font-family: Algerian;
        background: #f4f4f4;
        /* Old browsers */
        background: -moz-linear-gradient(top, #f4f4f4 1%, #ededed 100%);
        /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #f4f4f4), color-stop(100%, #ededed));
        /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #f4f4f4 1%, #ededed 100%);
        /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #f4f4f4 1%, #ededed 100%);
        /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #f4f4f4 1%, #ededed 100%);
        /* IE10+ */
        background: linear-gradient(to bottom, #f4f4f4 1%, #ededed 100%);
        /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#ededed', GradientType=0);
        /* IE6-9 */
    }
    fieldset {
        display: block;
        margin-left: 315px;
        margin-right: 315px;
        padding-top: 5em;
        padding-bottom: 3.5em;
        padding-left: 0.75em;
        padding-right: 0.75em;
        border: 8px groove (internal value);
        background-color: rgba(0,0,0,0.5);
    }